@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300;400;500;600&family=Inter:wght@500&family=Nunito:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}

a {
  color: #FAFAFA;
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url("../../public/assets/background.png");
  background-size: cover;
}
.welcome-page .logo {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 88px;
}
.welcome-page main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}
.welcome-page main .kid {
  height: 511px;
  align-self: flex-end;
}
.welcome-page main .content {
  flex-direction: column;
  gap: 25px;
  height: 100%;
}
.welcome-page main .content .pixel-head {
  width: 294px;
  height: auto;
}
.welcome-page main .content .tagline {
  font-family: "Arima";
  font-weight: 500;
  font-size: 35px;
  color: #FAFAFA;
}
.welcome-page main .content .exp-btn {
  margin-top: 25px;
  font-family: "Nunito";
  font-weight: 500;
  gap: 10px;
}
.welcome-page main .content .exp-btn .btn-text {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  width: 140px;
  height: 35px;
  left: 845px;
  top: 514px;
  border: 2px solid #23B9CF;
  border-radius: 41px;
}
.welcome-page main .content .exp-btn .btn-text:hover {
  background: radial-gradient(50% 50% at 50% 50%, #00DEFF 0%, rgba(0, 0, 0, 0) 100%);
}
.welcome-page main .content .exp-btn .arrow {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #23B9CF;
}
.welcome-page main .content .exp-btn .arrow:hover {
  background: radial-gradient(50% 50% at 50% 50%, #00DEFF 0%, rgba(0, 0, 0, 0) 100%);
}
.welcome-page main .content .exp-btn .arrow:hover .arrow-svg path {
  fill: #FAFAFA;
}

.navbar {
  padding: 15px;
  height: 100vh;
}
.navbar .nav-container {
  flex-direction: column;
  justify-content: space-between;
  background-color: #1A1A1C;
  width: 100px;
  height: 100%;
  border-radius: 10px;
  padding: 30px 0px;
}
.navbar .nav-container .logo {
  width: 80px;
}
.navbar .nav-container .nav-items {
  flex-direction: column;
  gap: 2em;
}

.home-page {
  background-color: #FAFAFA;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.home-page header {
  width: calc(100vw - 165px - 15px);
  position: absolute;
  top: 30px;
  left: 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-page header .heading {
  font-family: "Nunito";
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: #1A1A1C;
}
.home-page header .searchbar {
  background-color: #1A1A1C;
  width: 500px;
  height: 35px;
  border-radius: 7px;
  overflow: hidden;
  padding-left: 15px;
  gap: 10px;
}
.home-page header .searchbar .search-icon {
  width: 30px;
  cursor: pointer;
}
.home-page header .searchbar .search-input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: #FAFAFA;
  font-size: 16px;
  background-color: #1A1A1C;
  font-family: "Nunito";
}
.home-page .home-page-content {
  width: calc(100vw - 165px - 15px);
  height: calc(100vh - 120px);
  position: absolute;
  top: 100px;
  left: 165px;
  background-color: #1A1A1C;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 10px;
}
.home-page .home-page-content .content-img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=app.css.map */